<header>
    <div class="header-container">
      <div class="right-container">
        <div class="search-container">
            <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
            <button type="button" (click)="onSearch()">Search</button>
        </div>
        <div class="cart-container">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="logout-container">
          <button type="button">Logout</button>
        </div>
      </div>
    </div>
  </header>
  