.home {
    background-image: url('C:\Users\vinod\Downloads\cart.png');
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    height: 100%;
    padding: 200px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #cc5500;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease;
  }